    html,
    body {
        height: 100%;
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    p {
        color: #ffffff;
    }
    
    h1 {
        color: #ffffff;
        font-size: 28px;
    }
    
    h2 {
        color: #333333;
        font-size: 22px;
    }
    
    .app {
        padding: 10px 0px 10px 0px;
    }
    
    .appForm {
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 20px;
    }
    
    button {
        background-color: #7ab829;
        cursor: pointer;
        color: #fff;
    }
    
    .buttonGrid {
        height: 40px !important;
        width: 40px;
        min-width: 40px !important;
        margin-right: 5px;
    }
    
     ::placeholder {
        color: #333333;
        opacity: 1;
    }
    
     :-ms-input-placeholder {
        color: #333333;
    }
    
     ::-ms-input-placeholder {
        color: #333333;
    }
    
    .topo {
        width: 100%;
        background-color: #f8f8f8;
        position: absolute;
        padding: 20px 0px 10px 0px;
    }
    
    .logo {
        width: 50px;
        float: left;
        margin-left: 40px;
    }
    
    .menu {
        float: right;
        margin-right: 40px;
    }
    
    .menu li {
        display: inline;
        float: left;
    }
    
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .menu a {
        text-decoration: none;
        padding: 14px 16px;
        color: #333;
    }
    
    .menu a:hover {
        color: #268fd0;
    }
    
    .conteudo-destaque {
        width: 100%;
        height: 100%;
        min-height: 800px;
    }
    
    .esquerda {
        float: left;
        background-color: #268fd0;
        width: 100%;
        height: 100%;
    }
    
    .informacoes {
        margin: 100px 40px 40px 40px;
    }
    
    .conteudo-pagina {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-bottom: 100px;
    }
    
    .titulo-pagina {
        padding: 70px 0px 10px 0px;
        background-color: #2a9ee2;
        text-align: center;
    }
    
    .informacao-pagina {
        text-align: center;
        margin-top: 30px;
    }
    
    .informacao-pagina p {
        color: #333;
    }
    
    .corpoListagem {
        font-size: 15px;
    }